#profile-pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 18px;
    margin-top: 10px;
}

.social-links li a {
    font-size: 1.6rem;
    color: #0d6efd;
    transition: 0.3s ease;
}

.social-links li a:hover {
    color: #084298;
    transform: scale(1.15);
}

body{
    color: red;  
}